<li><a href="/">Inicio</a></li>
<li><a href="/#nosotros">Nosotros</a></li>
<li><a href="/#planes-destacados">Planes destacados</a></li>
<li><a href="/blog/">Blog</a></li>
<li><a href="/#contacto">Contacto</a></li>
<li><a href="/ejecutivos/">Ejecutivos</a></li>
