<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2/dist/umd/supabase.js"></script>
<script>
  window.VIEX_SUPABASE = supabase.createClient(
    "https://jniaoqcgpdryqrssntfp.supabase.co",
    "sb_publishable_BCFzQF1HZw8EPsGsdNvXCQ_0ILWpQB6"
  );
</script>
